.root {
  color: var(--mauve12);
}

.bold {
  font-weight: bold;
}

.size1 {
  font-size: var(--font-size1);
}

.size2 {
  font-size: var(--font-size2);
}

.size3 {
  font-size: var(--font-size3);
}

.size4 {
  font-size: var(--font-size4);
}

.size5 {
  font-size: var(--font-size5);
}
